.color{
    height: 200px;
    width: 200px;
    margin-top: 20px;
}
#main{
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    margin-left: 130px;
   
}
#input{
    border:4px solid #FFACAC;
    margin-left: 550px;
    padding:10px 30px 10px 30px;
}
.main{
    border: 10px solid #FFACAC;
    border-radius: 10px;
    height: 330px;
    width: 350px;
    margin-left: 20px;
    text-align: center;
    margin-top: 20px;
    font-style: italic;
    background-color: #FBFFB1;
    color: #494444;
}
#margin{
    border-radius: 10px;
    border: 4px solid #FFACAC;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    background-color: white;
    margin-left: 5px;
   
    
}
h4{
    text-align: center;
    color: #FFACAC;
}
/* footer part */
footer
{
    border:1px solid #FFEBB4;
    height: 300px;
    width: 100%;
    margin-top: 30px;
    display: flex; 
    background-color: #FBFFB1;
}
.About
{
   margin-top: 60px; 
   margin-left: 150px; 
   font-style: italic;
   color: rgb(62, 59, 59);
}
 .connect
{
    margin-top: 40px; 
    margin-left: 300px; 
    font-style: italic;
    color: rgb(62, 59, 59);
    
}
p{
    font-size: 14px;
    margin-left: 10px;
}
.google{
    margin-left: -40px;
}
.contact
{
    margin-top: 40px; 
    margin-left: 300px; 
    font-style: italic;
    color: rgb(62, 59, 59);
}
.contactNumber{
    height: 18px;
    width: 18px;
    margin-top: 15px;
   
}
/* .mobile{
    display: flex;
} */

.facebookImage
{
    border-radius: 100px;
    height: 30px;
    width: 30px;
    margin-top: 15px;
    margin-right: 10px;
   
   
}
.equal
{
    display: flex;
}  
